---
import { DEFAULT_LOCALE } from '../lib/i18n';

const fallbackUrl = `/${DEFAULT_LOCALE}/`;
---

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, follow">
    <meta http-equiv="refresh" content={`0;url=${fallbackUrl}`}>
    <link rel="canonical" href={fallbackUrl}>
    <title>BelloTreno</title>
</head>
<body>
    <a href={fallbackUrl}>BelloTreno</a>
</body>
</html>
